services:
  # ======================
  # ZOOKEEPER
  # ======================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  # ======================
  # KAFKA
  # ======================
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9093,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # ======================
  # REDIS
  # ======================
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  # ======================
  # POSTGRES
  # ======================
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./DBMS:/docker-entrypoint-initdb.d

  # ======================
  # SPARK (CUSTOM IMAGE)
  # ======================
  spark:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    container_name: spark
    user: root
    depends_on:
      - kafka
      - redis
      - postgres
    env_file:
      - .env
    volumes:
      - ./streaming:/app
    working_dir: /app
    command: >
      /opt/spark/bin/spark-submit
      --master local[*]
      --packages
      org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0,org.postgresql:postgresql:42.6.0
      main.py
  simulator:
    build: ./simulator
    container_name: simulator
    depends_on:
      - kafka
    restart: always
  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - kafka
      - redis
      - postgres
    env_file:
      - .env
    restart: always
  cleaner:
    build: ./cleaner
    container_name: cleaner
    depends_on:
      - postgres
    env_file:
      - .env
    # Đảm bảo database đã sẵn sàng mới chạy dọn dẹp
    restart: always

